
body { 
    box-sizing: border-box; /* el tamaño del elemento se calcula considerando el contenido */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0%; 
    margin: 0; /* me elimino el borde en blanco */
    
  }

/* portada */
.slider-container {
  display: flex;
  width: 100%;
  height: 80vh;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider-container img {
  flex: 0 0 100%;
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}

  
/* barra nav */
.contenedor-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.contenedor-flex img {
  border-radius: 120px;
  width: 150px;
  height: 150px;

}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Contenedor general del nav */
nav {
  height: 21vh;
  background-color: #454c50;
  padding: 15px 30px;
}

/* Contenedor flex para los ítems */
.contenedor-flex {
  display: flex;
  justify-content: center; /* o space-between / flex-end según necesidad */
  align-items: center;
  gap: 40px; /* Espacio entre enlaces */
}

/* Estilo individual de cada ítem */
.contenedor-flex li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.contenedor-flex li a:hover {
  color: #ffcc00; /* Color al pasar el mouse */
  border-bottom: 2px solid #ffcc00;
}

/* Responsive*/
@media (max-width: 768px) {
  .contenedor-flex {
    flex-direction: column;
    gap: 15px;
  }
}
/* contenedor de imagenes */
.grid-container {
  background-color: rgb(87, 109, 102);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
   }

.grid-container img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
.grid-container img:hover {
  border-radius: 150px;
  opacity: 1;
  transform: scale(1.2);
  z-index: 1;
  position: relative;
  box-shadow: 0 0 10px rgba (0,0,0,0.5);
}
/* termina el contenedor de imagenes */

.video {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* el video esta centrado */
}



/* CONTENEDOR DE IMAGENES DE ATLETAS */
.grid-container-2 {
  background-color: rgb(87, 109, 102);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
   }

.grid-container-2 img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 3000px; */
}


/* footer */
.contenedor-flex-2 {
  background-color: rgb(66, 54, 54);
  display: flex;
  justify-content: center;
  padding-top: 20px;

  }


