
body { 
    box-sizing: border-box; /* el tamaño del elemento se calcula considerando el contenido */
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0%; 
    margin: 0; /* me elimino el borde en blanco */
    
  }

/* portada */
.portada-flex {
  display: flex;
  width: 100%;
  height: 100hv;
  justify-content: center;
  align-items: center;
  }

.portada-flex img {
  width: 100%;
  height: 100hv;
  object-fit: cover;
}

.portada-flex .texto-de-portada {
  position: absolute;
  text-shadow: 0 0 10px;
  color: rgb(187, 169, 204);
  font-size: 70px;
}

.portada-flex .texto-de-portada-1 {
  position: absolute;
  margin-top: 250px;
  padding-left: 300px;
  text-shadow: 0 0 10px;
  color: rgb(214, 200, 233);
  font-size: 30px;
}

  /* barra nav */
.contenedor-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

.contenedor-flex .logo-nav {
  position: absolute;
  text-shadow: 0 0 10px;
  color: rgb(187, 169, 204);
  font-size: 50px;
  margin-left: 1000px;
  padding: 10px;
}
.contenedor-flex img {
  position: absolute;
  top: 0;
  left: 20px;
  width: 5%;
  height: auto;
  z-index: 1;
  border-radius: 200px;
  }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Contenedor general del nav */
nav {
  height: 7vh;
  background-color: #010e16;
  padding: 15px 30px;
}

/* Contenedor flex para los ítems */
.contenedor-flex {
  display: flex;
  justify-content: center; /* o space-between / flex-end según necesidad */
  align-items: center;
  gap: 40px; /* Espacio entre enlaces */
  margin-top: 25px;
}

/* Estilo individual de cada ítem */
.contenedor-flex li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}

.contenedor-flex li a:hover {
  color: #ffcc00; /* Color al pasar el mouse */
  border-bottom: 2px solid #ffcc00;
}

/* Responsive*/
@media (max-width: 768px) {
  .contenedor-flex {
    flex-direction: column;
    gap: 15px;
  }
  }


/* OFERTAS DEL INDEX */
.contenedor-ofertas {
  display: flex;
  align-items: center;
}


.contenedor-ofertas .boton-oferta  button{
    align-items: center;
    left: 1%;
    transform: translate(-50%, -50%); 
    background-color: #395e39;
    color: white;
    padding: 10px 20px;
    margin-top: 300px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
}

/* oferta texto con flechas */
.flechas-index {
  color: rgb(172, 79, 152);
  font-size: 35px;
  animation: intermitente 1s infinite;
  padding-left: 50px;
}

@keyframes intermitente {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* PRODUCTOS */
/* contenedor de imagenes  productos.html*/
.grid-container {
  background-color: rgb(87, 109, 102);
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  position: relative;
  }

.grid-container img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
}
/* .grid-container img:hover {
  border-radius: 150px;
  opacity: 1;
  transform: scale(1.2);
  z-index: 1;
  box-shadow: 0 0 10px rgba (0,0,0,0.5);
} */
.grid-container .contenedor-interno button {
    position: relative; 
    display: inline-block;
    align-items: end;
    top: -10%;
    left: 20%;
    transform: translate(-50%, -50%); 
    background-color: #395e39;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
  

}
/* termina el contenedor de PRODUCTOS */
/* 
.video {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
  /* el video esta centrado */
 



/* CONTENEDOR DE IMAGENES DE ATLETAS */
.grid-container-2 {
  background-color: rgb(87, 109, 102);
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
   }

.grid-container-2 img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    /* border-radius: 3000px; */
}


/* footer */
.contenedor-flex-2 {
  background-color: rgb(57, 57, 102);
  display: flex;
  justify-content: center;
  padding-top: 20px;
  }


/* CONTACTO */
.contenedor-formulario {
  background-color:rgb(90, 90, 235);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  
}

.contenedor-formulario h1 {
  font-size: 25px;
  color: #20044d;
  padding: 100px;
}

.contenedor-formulario label,input {
  font-size: 25px;
  padding-top: 10px;
  }

.contenedor-formulario input, textarea {
  border-color: #20044d;
  border-radius: 200px;
}


.contenedor-formulario button {
    margin-left: 60px;
    margin-top: 50px;
    transform: translate(-50%, -50%); 
    background-color: #3b633b;
    color:white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  } 


/* .contenedor-mapa{
  padding-top: 20px;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
} */

.contenedor-mapa iframe{
  left:0; 
  top:0;
  height:100%;
  width:100%;
}

.ubicacion {
  color: #532799;
  font-size: 25px;
  font-weight: bold;
}

/* SERVICIOS */
.contenedor-videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.parrafo-servicios {
  background-color: #91a191;
  font-size: x-large;
  text-shadow: 2px 2px 4px;
}